{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Proximarket</title>

    <link rel="stylesheet"  href="{% static 'css/all.css' %}">
    <link rel="stylesheet"  href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet"  href="{% static 'css/mdb.admin.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/jquery-ui.css' %}" media="all">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js-cookie.js' %}"></script>

    <style>

    .sticky {
		  position: fixed;
		  top: 0;
		  right : 0;
		  left : 0;
		  width: 100%;
		  z-index:300;
		  transform: translateZ(0);
		  transition:all 0.5s;
	}

  </style>

</head>

<body>

{% block navbar %}
{% endblock %}

{% block content %}
{% endblock %}

{% block fullcontent %}
{% endblock %}

{% block extra_body %}
{% endblock %}

{% include "footer.html" %}
{% include "scripts.html" %}

{% block scripts %}
{% endblock %}

<!--Modal: modalCookie-->
<div class="modal fade bottom" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">

                    <p class="pt-3 pr-2">Ce site utilise des cookies afin d'améliorer l'expérience des visiteurs et leur proposer des publications adaptées à leur profil...</p>

                    <a type="button" class="btn text-dark">En savoir plus <i class="fa fa-plus ml-1"></i></a>
                    <a type="button" class="btn btn-outline-danger waves-effect customColor" data-dismiss="modal">Ok, Merci</a>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalCookie-->

</body>
</html>