{% load static %}


<!--footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>

    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>

  </footer-->
  
  
  
  <footer class="pt-5 bg-white">
    <!--div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Départements</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Baskets &amp; Sport</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Vêtements de sport</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sandales</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Jeans</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Chemises &amp; Hauts</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Shorts</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">T-Shirts</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Maillots de bain</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Mules &amp; Sabots</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sacs  &amp; Portefeuilles</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Accessoires</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Lunettes de soleil &amp; Lunettes</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Montres</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Informations sur le compte</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Mon compte</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Compte &amp; informations d'expédition</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Remboursements &amp; Remplacements</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Suivi des commandes</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Informations sur la livraison</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Taxes &amp; frais</a></li>
                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">A propos de nous</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">A propos de la société</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">notre équipe</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Carrière</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title text-light pb-1">Restez informer</h3>
                    <form class="validate" action="https://studio.us12.list-manage.com/subscribe/post-json?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126&amp;c=?" method="get" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form">
                        <div class="input-group input-group-overlay flex-nowrap">
                            <div class="input-group-prepend-overlay"><span class="input-group-text text-muted font-size-base"><fa-icon  [icon]="faEnvelope"></fa-icon></i></span></div>
                            <input class="form-control prepended-form-control" type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="Votre email" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" name="subscribe" id="mc-embedded-subscribe">Inscrivez-vous*</button>
                            </div>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                        </div><small class="form-text text-light opacity-50" id="mc-helper">*Inscrivez-vous à notre newsletter pour recevoir des offres de réduction, des mises à jour et des informations sur les nouveaux produits.</small>
                        <div class="subscribe-status"></div>
                    </form>
                </div>
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title text-light pb-1">Télécharger notre application mobile</h3>
                    <div class="d-flex flex-wrap">
                        <div class="mr-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span class="btn-market-subtitle">Téléchargement </span><span class="btn-market-title">App Store</span></a></div>
                        <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span class="btn-market-subtitle">Téléchargement </span><span class="btn-market-title">Google Play</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
    <div class="pt-5 bg-white" style="border-top: solid 0.3em #6d26a0;">
        <div class="container bg-white">
            <div class="row pb-3">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fas fa-rocket" style="font-size: 2.25rem; color:black;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base mb-1">Livraison rapide</h6>
                            <p class="mb-0 font-size-ms opacity-50" style=" color:black;">Livraison gratuite à partir de 25000 fcfa</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fas fa-exchange-alt" style="font-size: 2.25rem;  color:black;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base mb-1">Remboursement garanti</h6>
                            <p class="mb-0 font-size-ms opacity-50" style=" color:black;">Nous retournons l'argent dans les 30 jours</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fas fa-life-ring" style="font-size: 2.25rem;  color:black;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base mb-1">Assistance client 24h/24h 7j/7j</h6>
                            <p class="mb-0 font-size-ms opacity-50" style=" color:black;">Assistance client convivial 24/7</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fas fa-credit-card" style="font-size: 2.25rem;  color:black;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base mb-1">Paiement en ligne sécurisé</h6>
                            <p class="mb-0 font-size-ms opacity-50" style=" color:black;">Nous possédons SSL / Sécurisé </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-light pb-4 mb-3">
            <div class="row pb-2">
                <div class="col-md-6 text-center text-md-left mb-4">
                    <div class="text-nowrap mb-4"><!-- <a class="d-inline-block align-middle mt-n1 mr-3" href="#"><img class="d-block" width="117" src="{% static "images/img/logo-icon.png" %}"  alt="Cartzilla"/></a> -->
                        <div class="btn-group dropdown disable-autohide">
             <!--                <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-toggle="dropdown">Eng
                            </button> -->
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <select class="custom-select custom-select-sm">
                                        <option value="usd">f CFA</option>
                                        <option value="eur">€ EUR</option>
                                    </select>
                                </li>
                                <!--li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="public/img/flags/fr.png" alt="Français"/>Français</a></li>
                                <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="public/img/flags/de.png" alt="Deutsch"/>Deutsch</a></li>
                                <li><a class="dropdown-item" href="#"><img class="mr-2" width="20" src="public/img/flags/it.png" alt="Italiano"/>Italiano</a></li-->
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-links widget-light">
                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                            <!--li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Points de vente</a></li-->
                            <!--li class="widget-list-item mr-4"><a class="widget-list-link text-dark" href="{% url 'product:seller' %}">Espace vendeur</a></li>
                            <li class="widget-list-item mr-4"><a class="widget-list-link text-dark" href="#">Nous contacter</a></li-->
                            <!--li class="widget-list-item mr-4"><a class="widget-list-link text-dark" href="#">Confidentialité</a></li-->
                            <li class="widget-list-item mr-4"><a class="widget-list-link text-dark" href="#">Conditions d'utilisation</a></li>
                            <li class="widget-list-item mr-4"><a class="widget-list-link text-dark" href="#">A propos</a></li>
                            {% if request.user.is_authenticated  %}
                            <li class="widget-list-item mr-4"><a class="widget-list-link text-dark" href="{% url 'back_office:home' %}">Back office</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-right mb-4">
                    <div class="mb-3">
                        <a class="social-btn sb-light sb-twitter ml-2 mb-2" href="#">
                          <i class="fab fa-twitter" style="font-size: 1.4rem;"></i>
                        </a>
                  <!--        <a class="social-btn sb-light sb-Google ml-2 mb-2" href="#">
                        <fa-icon [icon]="faGooglePlus" style="font-size: 1.4rem;"></fa-icon>
                        </a> -->
                        <a class="social-btn sb-light sb-facebook ml-2 mb-2" href="#">
                            <i class="fab fa-facebook" style="font-size: 1.4rem;"></i></a>
                        <a class="social-btn sb-light sb-instagram ml-2 mb-2" href="#">
                             <i class="fab fa-instagram" style="font-size: 1.4rem;"></i>
                        </a><a class="social-btn sb-light sb-youtube ml-2 mb-2" href="#">
                          <i class="fab fa-youtube" style="font-size: 1.4rem;"></i>
                         </a>
                    </div><img class="d-inline-block" width="187" src="{% static "images/img/cards-alt.png" %}"  alt="Payment methods"/>

                </div>
            </div>
            <div class="pb-4 font-size-xs opacity-50 text-center text-md-left">©2020 tous droits réservé. Fait par <a href="#" target="_blank">NSIT</a></div>
        </div>
    </div>
</footer>