{#% load cart_template_tags %#}
{% load static %}

<!--Navigation-->
    <header>
        
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
            <div class="container">
            
                <div class="row">
                    <div class="col-md-6">
                		<a class="navbar-brand font-weight-bold float-right" href="/"><strong>PROXI<span class="text-danger">Market</span></strong></a>
                    </div>
                    <div class="col-md-6">
                    	<p>Toujours plus prés <br/> Toujours moins chér !</p>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /.Navbar -->

    </header>
<!-- /.Navigation -->

{% block script %}

{% endblock %}