{% load static %}
  
<!-- <script type="text/javascript" src="{% static 'old/js/jquery-3.3.1.min.js' %}"></script>

<script type="text/javascript" src="{% static 'old/js/popper.min.js' %}"></script>

<script type="text/javascript" src="{% static 'old/js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'old/js/mdb.min.js' %}"></script> -->

<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>
<!-- <script src="{% static 'old/js/vendor.min.js' %}"></script>
<script src="{% static 'old/js/theme.min.js' %}"></script> -->